<div>
	<%= link_to(image_tag("doaj_logo_cropped.jpg", 
		id: "doaj_logo_new",
		alt: "Direcory of Open Access Journals",
		title: "Directory of Open Access Journals"), "https://doaj.org/", target: "_blank") %>
	<%= form_tag("/doaj", method: "post", id: "search_new", class: "search") do %>
		<%= label_tag(:query, "") %>
		<%= text_field_tag(:query, nil, placeholder: "Search DOAJ") %>
		<button type="submit"><%= image_tag("search.png", class: "search_icon") %></button>
	<% end %>
</div>
