<!-- kmapper map -->
<div id="kmap_wrapper">
	<div id="kmap_map">
		<% if false %>
		<div id="info">
			<%= @kmap['articles'].length %> articles<br/>
			<%= @kmap['page_size'] %> articles per page<br/>
		</div>
		<% end %>
		<script>
			drawKmap(<%= raw(@kmap.to_json) %>, "#kmap_map");
		</script>
	</div>
</div>
<!-- kmapper map legend -->
<% if @kmap["categories"].length < 21 %>
	<div id="kmap_legend">
	    <% @kmap["categories"].each do |category| %>
	    	<div class="legend_item" id="item_<%= category['id'] %>" data-clicked="false">
	    		<div class="legend_circle">
		        	<svg class="legend_circle_svg" width="40" height="36">
		                <circle class="category_circle" id="circle_<%= category['id'] %>" cx="20" cy="18" r="10" stroke="<%= category['color'] %>" stroke-width="3.57" fill="white" data-clicked="false"></circle>
		            </svg>
		        </div>
		        <div class="legend_label">
		        	<span class="category_label" id="label_<%= category['id']%>"><%= category["label"] %></span>
		        </div>
	        </div>
	    <% end %>
	</div>
<% else %>
	<div id="kmap_legend">
		<div class="kmap_legend_row">
			<div class="kmap_legend_column">
				<%@kmap["categories"][0..14].each do |category| %>

					    	<div class="legend_item" id="item_<%= category['id'] %>" data-clicked="false">
					    		<div class="legend_circle">
						        	<svg class="legend_circle_svg" width="40" height="36">
						                <circle class="category_circle" id="circle_<%= category['id'] %>" cx="20" cy="18" r="10" stroke="<%= category['color'] %>" stroke-width="3.57" fill="white"  data-clicked="false"></circle>
						            </svg>
						        </div>
						        <div class="legend_label">
						        	<span class="category_label" id="label_<%= category['id']%>"><%= category["label"] %></span>
						        </div>
					        </div>

				<% end %>
			</div>

			<div class="kmap_legend_column">
				<%@kmap["categories"][15..-1].each do |category| %>
			    	<div class="legend_item" id="item_<%= category['id'] %>" data-clicked="false">
			    		<div class="legend_circle">
				        	<svg class="legend_circle_svg" width="40" height="36">
				                <circle class="category_circle" id="circle_<%= category['id'] %>" cx="20" cy="18" r="10" stroke="<%= category['color'] %>" stroke-width="3.57" fill="white" data-clicked="false"></circle>
				            </svg>
				        </div>
				        <div class="legend_label">
				        	<span class="category_label" id="label_<%= category['id']%>"><%= category["label"] %></span>
				        </div>
			        </div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<!-- kmapper map articles -->
<div id="kmap_articles">
	<% @kmap["articles"].each do |article| %>
		<div class="article a_page_<%= article['page'] %> a_category_<%= article['category_id'] %> article_<%= article['page'] %>_<%= article['category_id'] %>" id="article_<%= article['id'] %>_<%= article['page'] %>_<%= article['category_id'] %>" data-clicked="false">
			<div class="a_category">
				<%= @kmap["categories"][article["category_id"]]["label"] %>
			</div>

			<div class="title">
				<% if article['doi'] != nil %>
					<a href="https://doi.org/<%= article['doi'] %>" target="_blank"><%= sanitize article['title']%></a>
				<% else %>
					<a href="https://doaj.org/article/<%= article['doaj'] %>" target="_blank"><%= sanitize article['title']%></a>
				<% end %>
			</div>

			<div class="authors"><%= article['authors']%></div>
			<div class="citation">
				<span class="journal"><%= article['journal'] %></span>
				<% if article['year'] != nil %>
					<span class="year"><%= " " + article['year'] + " " %></span>
				<% end %>
				<% if article['doi'] != nil %>
					<span class="doi"><a href="https://doi.org/<%= article['doi'] %>" target="_blank"><%= "https://doi.org/" + article['doi'] %></a></span>
				<% else %>
					<span class="doaj"><a href="https://doaj.org/article/<%= article['doaj'] %>" target="_blank"><%= "https://doaj.org/article/" + article['doaj'] %></a></span>
				<% end %>					
			</div>
			<div class="abstract">
				<% if %>
					<% article['abstract'] != nil %>
					<%= article['abstract'][0...250] + "..." %>
				<% end %>
			</div>
		</div>
	<% end %>
	<script>
		mousePageLine();
		mouseCluster();
		mouseCategoryLine();
		mouseLegendItem();
		mouseArticle();
		resetKmap();
		openDropdown();
        // downloadKmap(<%= raw(@kmap.to_json) %>);
        downloadAll(<%= raw(@response) %>);
        downloadVisible(<%= raw(@response) %>);
	</script>
</div>