<p id="notice"><%= notice %></p>

<h1>Lccs</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Label</th>
      <th>Subclass</th>
      <th>Kmapper</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lccs.each do |lcc| %>
      <tr>
        <td><%= lcc.code %></td>
        <td><%= lcc.label %></td>
        <td><%= lcc.subclass %></td>
        <td><%= lcc.kmapper_id %></td>
        <td><%= link_to 'Show', lcc %></td>
        <td><%= link_to 'Edit', edit_lcc_path(lcc) %></td>
        <td><%= link_to 'Destroy', lcc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lcc', new_lcc_path %>
