<p id="notice"><%= notice %></p>

<h1>Kmappers</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kmappers.each do |kmapper| %>
      <tr>
        <td><%= kmapper.label %></td>
        <td><%= kmapper.color %></td>
        <td><%= link_to 'Show', kmapper %></td>
        <td><%= link_to 'Edit', edit_kmapper_path(kmapper) %></td>
        <td><%= link_to 'Destroy', kmapper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kmapper', new_kmapper_path %>
