<div id="about">
	<h2>License</h2>
	<p>
		Copyright 2020 Cyrill Martin
	</p>
	<p>
		This <%= link_to "project", "https://github.com/cyrill-martin/kmapper", target: "_blank", rel: "nofollow" %> is free software. There is no warranty; not even for
		merchantability or fitness for a particular purpose.
	</p>
	<p>
		Except otherwise noted, you may use, copy, modify and redistribute all files included in this
		distribution, individually or in aggregate, subject to the terms and conditions
		of the <%= link_to "MIT license", "https://raw.githubusercontent.com/cyrill-martin/kmapper/master/LICENSE-MIT.txt", target: "_blank", rel: "nofollow" %>.
	</p>
	<p>
		In addition, you may use, copy, and redistribute the kmapper logo files 
		included in this distribution under the directories named <i>images</i> and <i>public</i> 
		according to the terms and conditions of the <%= link_to "Attribution-NonCommercial-NoDerivatives
		4.0", "https://creativecommons.org/licenses/by-nc-nd/4.0/", target: "_blank", rel: "nofollow" %> International License.
	</p>
	<p>
		Article meta data is provided by the <%= link_to "DOAJ", "https://doaj.org", target: "_blank", rel: "nofollow" %> under the 
		<%= link_to "Attribution-ShareAlike 4.0", "https://creativecommons.org/licenses/by-sa/4.0/", target: "_blank", rel: "nofollow" %> International License.
	</p>
	<p>
		The <i>Tanohe Sans</i> font used on this site is licensed under the <%= link_to "SIL Open Font License, Version 1.1", "https://www.fontsquirrel.com/license/tanohe-sans", target: "_blank", rel: "nofollow" %>.
	</p>
</div>