<!DOCTYPE html>
<html>
<!-- Copyright 2020 Cyrill Martin (https://github.com/cyrill-martin) 

Permission is hereby granted, free of charge, to any person obtaining 
a copy of this software and associated documentation files (the "Software"), 
to deal in the Software without restriction, including without limitation 
the rights to use, copy, modify, merge, publish, distribute, sublicense, 
and/or sell copies of the Software, and to permit persons to whom the 
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in 
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL 
THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN 
THE SOFTWARE.  -->
<!-- Search icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
<!-- Fonts??? -->
  <head>
    <title>kmapper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
        <header id="header">

          <% if @show_kmapper %>
            <div id="logo_container">
                <%= link_to(image_tag("kmapper_k.png", class: "logo_header"), root_path) %>
            </div>
          <% end %>

          <div id="menu_container">
            <% if @show_download %>
                <a class="dropbtn">Download</a>
                <div class="dropdown-content">
                  <a id="downloadAll">• All articles</button><br>
                  <a id="downloadVisible">• Visible articles</a><br>
                  <a id="downloadKmap">• kmap data</a>
                </div>
            <% end %>

            <% if @show_about %>
              <%= link_to "About", about_path %>
            <% end %> 

          </div>

          <% if @show_header_search %>
            <div class="header_search">
              <div class="search">
                <%= form_tag("/doaj", method: "get") do %>
                  <%= label_tag(:q, "") %>
                  <%= text_field_tag(:q, params[:q], placeholder: "Search DOAJ") %>
                  <%= submit_tag("Search", name: "") %>
                <% end %>
              </div>
            </div>
          <% end %>

        </header>
        <div id="main">
            <%= yield %>
        </div>
        <footer id="footer">
        </footer>
    </div>
    <script>
      downloadAll();
      downloadVisible();
      downloadKmap();
    </script>
  </body>
</html>
