<!DOCTYPE html>
<html>
<!--
Copyright 2020 Cyrill Martin

This project is free software. There is no warranty; not even for 
merchantability or fitness for a particular purpose.
=> See https://github.com/cyrill-martin/kmapper for details.

Except otherwise noted, you may use, copy, modify and redistribute
all files included in this distribution, individually or in aggregate,
subject to the terms and conditions of the MIT license.
=> See https://raw.githubusercontent.com/cyrill-martin/kmapper/master/LICENSE-MIT.txt for details.

In addition, you may use, copy, and redistribute the kmapper logo files 
included in this distribution under the directories named 'images' and 
'public' according to the terms and conditions of the 
Attribution-NonCommercial-NoDerivatives 4.0 International License.
=> See https://creativecommons.org/licenses/by-nc-nd/4.0/ for details.

Article meta data is provided by the DOAJ under the 
Attribution-ShareAlike 4.0 International License.
=> See https://creativecommons.org/licenses/by-sa/4.0/ for details. 

The 'Tanohe Sans' font used on this site is licensed under the 
SIL Open Font License, Version 1.1.
=> See https://www.fontsquirrel.com/license/tanohe-sans for details.
-->
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "kmapper" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
        <header id="header">

          <% if @show_kmapper %>
            <div id="logo_container">
                <%= link_to(image_tag("kmapper_k_3b.png", class: "logo_header"), root_path) %>
            </div>
          <% end %>
          <div id="menu_container">

            <div class="nav-container">
              <nav>

                <% if @show_burger %>
                  <div class="nav-mobile">
                    <a id="nav-toggle"><span></span></a>
                  </div>
                <% end %>

                <ul class="nav-list">

                  <% if @show_info %>
                    <li>
                      <a id="introStart">Intro</a>
                    </li>
                  <% end %>

                  <% if @show_share %>
                    <li>
                      <a>Share</a>
                      <ul class="nav-dropdown">
                        <li>
                          <a href="http://twitter.com/share?url=<%=request.original_url.gsub("+", "%2B")%>&hashtags=kmapper" target="_blank">Twitter</a>
                        </li>
                        <li>
                          <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%=request.original_url
                            .gsub("+", "%2B")
                            .gsub("/","%2F")
                            .gsub(":", "%3A")
                            .gsub("?", "%3F")
                            .gsub("=", "%3D")%>" target="_blank">LinkedIn</a>
                        </li>
                        <li>
                          <a href="mailto:?subject=kmapper&body=<%=request.original_url.gsub("+", "%2B")%>">E-Mail</a>
                        </li>
                      </ul>
                    </li>
                  <% end %>

                  <% if @show_download %>
                    <li>
                      <a id="download">Download</a>
                      <ul class="nav-dropdown">
                        <li>
                          <a id="download_all">All articles</a>
                        </li>
                        <li>
                          <a id="download_visible">Visible articles</a>
                        </li>
                      </ul>
                    </li>
                  <% end %>

                  <% if @show_about %>
                    <li>
                      <%= link_to "About", about_path %>
                    </li>
                  <% end %>

                </ul>
              </nav>
            </div>
          </div>

          <% if @show_header_search %>
            <div class="header_search">
              <div class="search">
                <%= form_tag("/doaj", method: "get") do %>
                  <%= label_tag(:q, "") %>
                  <%= text_field_tag(:q, params[:q], placeholder: "Search DOAJ") %>
                  <%= submit_tag("Search", name: "") %>
                <% end %>
              </div>
            </div>
          <% end %>
        </header>
        <div id="main">
            <%= yield %>
        </div>
        <footer id="footer">
        </footer>
    </div>
    <%= javascript_pack_tag "cookieconsent", "data-cfasync": "false"%>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#edeff5",
          "text": "#838391"
        },
        "button": {
          "background": "#4b81e8"
        }
      },
      "position": "bottom-right",
      "content": {
        "message": "This website uses cookies."
      }
    });
    openDropdown();
    </script>
  </body>
</html>
